In [62]:
import dask.dataframe as dd
from dask.diagnostics import ProgressBar
import matplotlib.pyplot as plt
import numpy as np

In [63]:
df = dd.read_csv("datos_SUBE/Datos_Vega.csv",encoding = "ISO-8859-1", sep=";")

In [64]:
with ProgressBar():
    display(df.head())

[########################################] | 100% Completed |  1.3s

,NROTARJETA,MODO,JURISDICCION,ENTIDAD,LINEA,RAMAL,INTERNO,TIPO_TARIFA,CODIGOCONTRATO,MOTIVO_ATS,SEXO,LONGITUD,LATITUD,FECHA_HORA,ORDEN_TRX
0,7E3D75678B9506DDB9BA6459BC8700,COL,MUNICIPAL,EMPRESA NUEVE DE JULIO S.A.T.,BSAS_LINEA_561B,561BA,0C14D0A20466B9E62B8C,Tarifa_desc_ATSF,621,AUH,F,-58.052,-34.954,04/12/2019 06,4.0
1,NaN,COL,MUNICIPAL,EMPRESA NUEVE DE JULIO S.A.T.,BSAS_LINEA_561B,561BA,0C14D0A20466B9E62B8C,Tarifa_desc_ATSF,621,NaN,M,-58.052,-34.954,04/12/2019 06,NaN
2,NaN,COL,MUNICIPAL,EMPRESA NUEVE DE JULIO S.A.T.,BSAS_LINEA_561B,561BA,0C14D0A20466B9E62B8C,Tarifa_normal,602,NaN,NaN,-58.052,-34.954,04/12/2019 06,NaN
3,NaN,COL,MUNICIPAL,EMPRESA NUEVE DE JULIO S.A.T.,BSAS_LINEA_561B,561BA,0C14D0A20466B9E62B8C,Tarifa_desc_ATSF,621,AUH,F,-58.052,-34.954,04/12/2019 09,NaN
4,NaN,COL,MUNICIPAL,EMPRESA NUEVE DE JULIO S.A.T.,BSAS_LINEA_561B,561BA,0C14D0A20466B9E62B8C,Tarifa_desc_ATSF,621,AUH,F,-58.052,-34.954,04/12/2019 09,NaN

In [65]:
columns_keep = ["LONGITUD","LATITUD","FECHA_HORA","RAMAL","MODO"]
df_fil = df[columns_keep]


cond = "MODO" == "COL"
condition_modo = df_fil["MODO"] == "COL"
df_fil_modo = df_fil[condition_modo]

df_fil1 = df_fil_modo.drop(["MODO"], axis=1)

In [66]:
par1 = df_fil1.get_partition(0)
with ProgressBar():
    dp1 = par1.compute()

[########################################] | 100% Completed |  1.4s

In [69]:
dp1["HORA"] = dp1["FECHA_HORA"].apply(lambda x: x[-2:])
dp1["FECHA"] = dp1["FECHA_HORA"].apply(lambda x: x[:-3])
dp1_cleaner = dp1.drop(["FECHA_HORA"],axis=1)

In [70]:
dp1_cleaner.head(10)

   LONGITUD  LATITUD  RAMAL HORA       FECHA
0   -58.052  -34.954  561BA   06  04/12/2019
1   -58.052  -34.954  561BA   06  04/12/2019
2   -58.052  -34.954  561BA   06  04/12/2019
3   -58.052  -34.954  561BA   09  04/12/2019
4   -58.052  -34.954  561BA   09  04/12/2019
5   -58.052  -34.954  561BA   11  04/12/2019
6   -58.052  -34.954  561BA   13  04/12/2019
7   -58.052  -34.954  561BA   13  04/12/2019
8   -58.052  -34.954  561BA   13  04/12/2019
9   -58.052  -34.954  561BA   13  04/12/2019

In [44]:
dp1_date_index = dp1_cleaner.set_index(["FECHA"])

In [45]:
dp1_date_index

            LONGITUD  LATITUD  RAMAL HORA
FECHA
04/12/2019   -58.052  -34.954  561BA   06
04/12/2019   -58.052  -34.954  561BA   06
04/12/2019   -58.052  -34.954  561BA   06
04/12/2019   -58.052  -34.954  561BA   09
04/12/2019   -58.052  -34.954  561BA   09
...              ...      ...    ...  ...
24/10/2019   -57.962  -34.928   307D   21
24/10/2019   -57.962  -34.928   307D   21
24/10/2019   -57.962  -34.928   307D   21
24/10/2019   -57.962  -34.928   307D   21
25/03/2021   -57.962  -34.928   307D   17

[360455 rows x 4 columns]

In [49]:
from datetime import datetime

datetime_object = datetime.strptime('Jun 1 2005  1:33PM', '%b %d %Y %I:%M%p')

In [57]:
convert_to_datetime = lambda x: datetime.strptime(x,"%d/%m/%Y")

0         04/12/2019
1         04/12/2019
2         04/12/2019
3         04/12/2019
4         04/12/2019
             ...
420387    24/10/2019
420388    24/10/2019
420389    24/10/2019
420390    24/10/2019
420391    25/03/2021
Name: FECHA, Length: 360455, dtype: object

In [58]:
dp1_date_index["FECHA"].set_index(convert_to_datetime(dp1.index))

TypeError: strptime() argument 1 must be str, not Int64Index

In [48]:
import pandas as pd
dp1_date_index[pd.date_range("04/12/2019","06/12/2019")]

KeyError: "None of [DatetimeIndex(['2019-04-12', '2019-04-13', '2019-04-14', '2019-04-15',\n               '2019-04-16', '2019-04-17', '2019-04-18', '2019-04-19',\n               '2019-04-20', '2019-04-21', '2019-04-22', '2019-04-23',\n               '2019-04-24', '2019-04-25', '2019-04-26', '2019-04-27',\n               '2019-04-28', '2019-04-29', '2019-04-30', '2019-05-01',\n               '2019-05-02', '2019-05-03', '2019-05-04', '2019-05-05',\n               '2019-05-06', '2019-05-07', '2019-05-08', '2019-05-09',\n               '2019-05-10', '2019-05-11', '2019-05-12', '2019-05-13',\n               '2019-05-14', '2019-05-15', '2019-05-16', '2019-05-17',\n               '2019-05-18', '2019-05-19', '2019-05-20', '2019-05-21',\n               '2019-05-22', '2019-05-23', '2019-05-24', '2019-05-25',\n               '2019-05-26', '2019-05-27', '2019-05-28', '2019-05-29',\n               '2019-05-30', '2019-05-31', '2019-06-01', '2019-06-02',\n               '2019-06-03', '2019-06-04', '2019-06-05', '2019-06-06',\n               '2019-06-07', '2019-06-08', '2019-06-09', '2019-06-10',\n               '2019-06-11', '2019-06-12'],\n              dtype='datetime64[ns]', freq='D')] are in the [columns]"

Let's do that for all partitions